@page "/"

@using System.Linq
@using DividendAlertBlazorPWA.Services
@using DividendAlertBlazorPWA.Model
@inject IDividendAlertService dividendAlertService


<h5>Your new Dividends : </h5>
<br />


@if (dividendList == null)
{
    <p><em>Loading...</em></p>
}
else
{

    if (dividendList.Any())
    {
        <table>

            <thead style="font-weight:bold;font-size:12px;">
                <tr>
                    <td style="padding-right:30px;">StockName</td>
                    <td style="padding-right:40px;">Type</td>
                    <td style="padding-right:60px;">Value</td>
                    <td style="padding-right:20px;">Payment Date</td>
                    <td style="padding-right:10px;">Ex Date</td>
                </tr>
            </thead>

            @foreach (Dividend d in dividendList)
            {
                <tr style="font-size:12px;">
                    <td>@d.StockName</td>
                    <td>@d.Type</td>
                    <td>@d.Value</td>
                    <td>@d.PaymentDateFormatted</td>
                    <td>@d.ExDate</td>
                </tr>
            }
        </table>
    }
    else
    {
        <p>No dividends in the last @lastDays days</p>
    }


}

@code {
    IEnumerable<Dividend> dividendList;
    int lastDays = 30;

    protected override async Task OnInitializedAsync()
    {
        dividendList = await dividendAlertService.GetNewDividendsAsync(lastDays);
    }
}
